.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-top: 16px;
}
body {
    text-align: center;
    background-image: url("../images/entire\ band.jpg");
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}
a {
    color: #f0f8ff;
    font-size: 16px;
}
h1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 52px;
    font-weight: 900;
    color: #f0f8ff;
    
}
h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f0f8ff;
}
h3 {
    font-size: 18px;
    color: #f0f8ff;
}
button {
    background-color: #3882f6;
    border-radius: 8px;
    margin: 4px;
    border: 2px solid white;
    padding: 12px 24px;
    text-decoration: none;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px;
}
img {
    width: 200px;
    height: 200px;
}
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin: 120px;
}
.caption {
    max-width: 200px;
    font-size: 18px;
    color: #f0f8ff;
}
.container-3 {
    display: flex;
    color: #f0f8ff;
    flex-direction: column;
    background: #a9a9a9;
}
.quote {
    font-size: 24px;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: auto;
    padding-bottom:4px;
}
.credit {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-right: 400px;
}
.container-4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    background-color: #3882f6;
    margin: 300px;
    padding: 50px;
    align-items: center

}
.testimonials,
.action  {
    color: #f0f8ff;
    font-size: 20px;
}
.footer {
    color: #f0f8ff;
    background-color: #1f2937;
    padding: 8px;
    margin-bottom: 0px;
}
   



